/* Fieldsets
----------------------------------------------- */

fieldset {
	margin: 1.5em -10px !important;
	border: 0;
	padding: 1px 10px; /* 1px top/bottom fixes bug in Safari */
	background: #E1EDFA;
}

fieldset.collapsed {
	height: 1.5em !important;
	overflow: hidden;
	background: transparent;
}

legend {
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
}

legend a {
	padding: 0 15px 0 0 !important;
	background: url(../images/arrow_blue_down.png) no-repeat right center !important;
	color: #039 !important;
	text-decoration: none;
}

fieldset.collapsed legend a {
	padding-right: 12px;
	background-image: url(../images/arrow_blue_right.png) !important;
}

/* Form items
----------------------------------------------- */

.form-item {
	margin: 1.5em 0;
}

span.form-required {
	color: #c30;
}

label {
	margin-bottom: 0.5em;
	font-size: 0.9em;
	text-transform: uppercase;
}

.form-item label.option {
	text-transform: none;
	margin-bottom: 0;
}

.form-text, textarea {
	font-size: 1em;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

.form-submit, .teaser-button {
	padding: 1em 10px;
	border: 1px solid #aaa;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #ccc url(../images/gradient_gray.png) repeat-x left top;
	color: #000;
	font-size: 0.9em;
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
}

.form-submit:active, .teaser-button:active {
	background-image: none !important;
}

.teaser-button {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#edit-title {
	font-weight: bold;
	font-size: 1.5em;
}

#edit-submit {
	font-weight: bold;
}

#edit-delete {
	border-color: #c30;
	background-color: #c30;
	background-image: url(../images/gradient_red.png);
	color: #fff;
}

.teaser-checkbox {
	margin-bottom: -0.75em;
}

form .admin {
	padding-top: 0;
}

/* Descriptions
----------------------------------------------- */

div.description {
	margin: 0.5em 0 1.5em;
	font-size: 0.9em;
}

.description ul {
	margin: 0;
}
