html, body, dt {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #000;
	font: 0.85em/1.5 Verdana, sans-serif;
}

.container_16 {
	position: relative;
	overflow: hidden;
	background: #eee;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, form, fieldset {
	margin: 1.5em 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-style: normal;
}

blockquote, li, dd {
	margin: 0 0 0 3em;
	padding: 0;
}

.caps {
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

img {
	border: none;
}

a {
	color: #039;
	text-decoration: underline;
}

a:hover {
	background: #039;
	color: #fff;
	text-decoration: none;
}

/* Breadcrumb
----------------------------------------------- */

#breadcrumb {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 15px;
	background: #fc0;
	font-size: 0.85em;
}

#breadcrumb li {
	list-style: none;
	float: left;
	margin-left: 5px;
	padding: 0.6em 16px 0.6em 0;
	background: url(../images/breadcrumb_seperator.png) no-repeat right center;
}

#breadcrumb a, #user_nav a {
	background: transparent;
	color: #000;
	text-decoration: none;
}

/* User nav
----------------------------------------------- */

#user_nav {
	position: absolute;
	right: 10px;
	top: 0;
	margin: 0.6em 0;
	font-size: 0.85em;
}

#user_nav li {
	list-style: none;
	display: inline;
	margin-left: 10px;
}

#user_nav .user {
	font-weight: bold;
}

/* Header
----------------------------------------------- */

#header {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

#header * {
	float: left;
	margin: 0;
}

#header h1 {
	margin-right: 0.75em;
	font-size: 2.2em;
}

#tabs {
	margin: 0.25em 0;
	font-size: 1.2em;
	text-transform: uppercase;
}

#tabs li {
	list-style: none;
	margin-right: 1em;
}

#tabs a {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 0.5em 7px;
	color: #000;
	text-decoration: none;
}

#tabs a:hover, #tabs a.active {
	background: #039 url(../images/gradient_blue.png) repeat-x left top;
	color: #fff;
}

/* Secondary tabs & messages
----------------------------------------------- */

#tabs_secondary,
.messages,
.admin h3 {
	margin: 0 -10px 1.5em -10px;
	padding: 1.5em 0 !important;
	background: #E1EDFA;
	font-weight: bold;
}

#tabs_secondary,
.admin h3 {
	text-transform: uppercase;
}

#tabs_secondary li {
	list-style: none;
	display: inline;
	margin-left: 10px;
}

#tabs_secondary a {
	text-decoration: none;
}

#tabs_secondary a.active {
	background: transparent;
	color: #000;
}

.messages,
.admin h3 {
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.messages ul {
	margin: 0;
}

div.error {
	background: #c30 url(../images/gradient_red.png) repeat-x left top;
	color: #fff;
}

div.error a {
	background: transparent;
	color: #fff;
}

/* Content
----------------------------------------------- */

#content {
	position: relative;
	padding-right: 20px;
	background: #fff url(../images/shadow_vertical.png) repeat-y right top;
}

#wrapper {
	overflow: hidden;
	margin-right: -14px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	background: url(../images/shadow_horizontal.png) repeat-x left bottom;
}

#corner {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 6px;
	height: 6px;
	background: url(../images/shadow_corner.png) no-repeat left top;
}

/* Dashboard
----------------------------------------------- */

.compact-link,
.admin .description,
.admin dd {
	display: none;
}

div.admin {
	padding-top: 0;
}

div.admin .left, div.admin .right {
	float: none;
	margin: 0;
	width: auto;
}

div.admin-panel {
	padding: 0;
}

.admin h3 {
	margin-bottom: 0;
}

.js .admin h3 {
	cursor: pointer;
}

.admin h3.active {
	background: #039 url(../images/gradient_blue.png) repeat-x left top;
	color: #fff;
}

.admin dl,
.admin ul {
	overflow: hidden;
	margin: 1.5em 0;
}

.admin dt,
.admin .item-list ul li {
	list-style: none;
	margin-left: 0;
}

dl.admin-list {
	margin: 0 -10px;
}

.admin dl.admin-list,
.admin ul.menu,
.admin .item-list ul {
	margin: 0 -20px;
}

.admin ul.menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.admin .item-list li,
.admin ul.menu li,
dl.admin-list dt {
	width: 50%;
	float: left;
}

dl.admin-list dd {
	display: none;
}

dl.admin-list a,
.admin ul.menu a,
.admin .item-list a {
	display: block;
	padding: 0.75em 10px;
}

/* Sidebar
----------------------------------------------- */

#sidebar {
	overflow: hidden;
	font-size: 0.9em;
}

.js #sidebar {
	margin-top: -80px;
}

#sidebar_toggler {
	display: block;
	overflow: hidden;
	width: 40px;
	height: 40px;
	margin-bottom: 40px;
	background: #3CB400 url(../images/arrow_green_left.png) no-repeat left top;
	text-indent: -9999999px;
}

#sidebar_toggler.expanded {
	background-image: url(../images/arrow_green_right.png);
}

#sidebar .block {
	width: 210px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

#sidebar ul a {
	display: block;
	padding: 0.75em 7px;
	background: #ddd;
	color: #333;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#sidebar ul a.active, #sidebar li.expanded a {
	background: #039 url(../images/gradient_blue.png) repeat-x left top;
	color: #fff;
}

#sidebar ul ul a, #sidebar li.expanded ul a {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: transparent;
	color: #039;
	font-weight: normal;
	text-transform: none;
}

#sidebar li.expanded ul a.active {
	background: transparent;
	color: #333;
	font-weight: bold;
}

#sidebar ul ul a:hover {
	background: #039;
	color: #fff;
}

/* Footer
----------------------------------------------- */

#footer {
	padding-top: 1.5em;
	padding-bottom: 2.5em;
	color: #666;
	font-size: 0.75em;
}

#footer * {
	display: inline;
	margin: 0;
}

#footer img {
	margin-bottom: -0.3em;
}

#footer_message {
	margin-left: 1.5em;
}

#footer a {
	color: #666;
}

#footer a:hover {
	background: #666;
	color: #fff;
}